In [18]:
import pandas as pd

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [ ]:
dataset.info()

In [ ]:
dataset.dtypes

In [6]:
dataset.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [5]:
quan = []
qual = []
for columnName in dataset.columns:
    if dataset[columnName].dtype == 'object':
        qual.append(columnName)
    else:
        quan.append(columnName)

In [7]:
quan

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [8]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [ ]:
for columnName in quan:
    print(columnName)

In [ ]:
for columnName in quan:
    dataset[columnName].fillna(dataset[columnName].mean(),inplace=True)

In [ ]:
dataset

In [ ]:
dataset.isnull().sum()

In [ ]:
for columnName in qual:
    dataset[columnName].fillna(dataset[columnName].mode()[0],inplace=True)

In [ ]:
dataset

In [ ]:
dataset.isnull().sum()

In [22]:
import numpy as np
from sklearn.impute import SimpleImputer
quan_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
qual_imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

# Combine the imputers using ColumnTransformer
# List of (name, transformer, columns) tuples specifying the transformer objects to be applied to subsets of the data.
from sklearn.compose import ColumnTransformer
Preprocessor = ColumnTransformer(transformers = [['quan',quan_imputer,quan],['qual',qual_imputer,qual]])

# Fit the imputers and transform the dataset
dataset_imputed = Preprocessor.fit_transform(dataset)

# Convert the result back to a DataFrame
dataset_NOnull = pd.DataFrame(dataset_imputed, columns = quan + qual)

dataset_NOnull

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80.0,1.02,1.0,0.0,121.0,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.02,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.01,2.0,3.0,423.0,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.01,2.0,0.0,106.0,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.02,0.0,0.0,140.0,49.0,0.5,150.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.0,80.0,1.02,0.0,0.0,100.0,26.0,0.6,137.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [30]:
dataset_NOnull.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [31]:
dataset_NOnull.dtypes

id                float64
age               float64
bp                float64
sg                float64
al                float64
su                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
rbc                object
pc                 object
pcc                object
ba                 object
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [27]:
# Drawback: When you use ColumnTransformer combined with SimpleImputer, the output is a NumPy array,
#            and all data is cast to a general object type if you have both numerical and categorical columns.

# To fix this issue and maintain the correct data types for each column, you can manually convert the numerical and categorical columns 
# back to their appropriate types after the imputation process.

dataset_NOnull[quan] = dataset_NOnull[quan].apply(pd.to_numeric)

In [28]:
dataset_NOnull.dtypes

id                float64
age               float64
bp                float64
sg                float64
al                float64
su                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
rbc                object
pc                 object
pcc                object
ba                 object
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer
Imp_quan = SimpleImputer(missing_values = np.nan, strategy = 'mean')
Imp_quan.fit(dataset[quan])

In [ ]:
df = Imp_quan.transform(dataset[quan])
df

In [ ]:
dataset_noNULL = pd.DataFrame(df,columns = quan)
dataset_noNULL

In [ ]:
Imputation = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
Imputation.fit(dataset[qual])

In [ ]:
df = Imputation.transform(dataset[qual])
df

In [ ]:
dataset_noNULL = pd.DataFrame(df,columns = qual)
dataset_noNULL

In [ ]:
dataset_noNULL.isnull().sum()

In [ ]:
dataset_noNULL