## ANOVA 
#### Analysis Of Variance
#### F-Test with P-Value

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("PrePlacement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

### Statement 
Is there any significant difference between ssc_p, hsc_p & degree_p ?

### State of hypothesis 

Ho = There is no significant differnce betwween ssc_p,hsc_p,degree_p

H1 = There is significant differnce betwween ssc_p,hsc_p,degree_p

### Significance Level
P < 0.05

### ANOVA --> One-way Classification (Either Row-wise / column-wise)

In [7]:
from scipy.stats import f_oneway
f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.695991304348204, pvalue=0.49895574725815317)

### Inference 
pvalue = 0.49

pvalue > 0.05, so we Accept the Null hypothesis

==> There is no significant differences between ssc_p, hsc_p & degree_p

### ANOVA --> Two-way Classification (Takes both Row & columns)

In Scipy, there is no direct method for two-way ANOVA (as we have for one-way ANOVA using f_oneway).

### ANOVA --> Two-Way Classification with statsmodels

In [42]:
import statsmodels.api as sm              # This line imports the main interface of the statsmodels library and assigns it the alias sm
from statsmodels.formula.api import ols     # This line specifically imports the ols function from the formula.api module of statsmodels

# The formula is 'dependent_variable ~ independent_variable'
model = ols('sl_no ~ ssc_p + hsc_p + etest_p + ssc_p * hsc_p * etest_p', data = dataset).fit() 
ANOVA_Table = sm.stats.anova_lm(model)

In [43]:
ANOVA_Table

                        df         sum_sq       mean_sq         F    PR(>F)
ssc_p                  1.0    5058.655954   5058.655954  1.339031  0.248538
hsc_p                  1.0    2853.534158   2853.534158  0.755333  0.385800
etest_p                1.0    7549.454088   7549.454088  1.998348  0.158973
ssc_p:hsc_p            1.0   12261.184249  12261.184249  3.245547  0.073073
ssc_p:etest_p          1.0   11589.045179  11589.045179  3.067631  0.081347
hsc_p:etest_p          1.0    5247.514132   5247.514132  1.389022  0.239923
ssc_p:hsc_p:etest_p    1.0    1606.059829   1606.059829  0.425126  0.515114
Residual             207.0  782014.552410   3777.848079       NaN       NaN

### Inference 

P-value = 0.51

P-valiue > 0.05 

Accept the Null hypothesis

Since it is two-way classification --> There is no significant difference between ssc_p, hsc_p and etest_p  percentages of all the students.

Row = sl_no  
Columns = ssc_p,  hsc_p,  etest_p

### Extra Informations retrived from summary

In [35]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sl_no   R-squared:                       0.056
Model:                            OLS   Adj. R-squared:                  0.024
Method:                 Least Squares   F-statistic:                     1.746
Date:                Tue, 15 Oct 2024   Prob (F-statistic):              0.100
Time:                        20:25:38   Log-Likelihood:                -1186.5
No. Observations:                 215   AIC:                             2389.
Df Residuals:                     207   BIC:                             2416.
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            -835.7900    844.416     -0.990      0.323   -2500.548     828.968
ssc_p                  16.9817     12.978      1.308      0.192      -8.605      42.569
hsc_p                   9.5007     13.216      0.719      0.473     -16.554      35.555
etest_p                 9.5810     11.042      0.868      0.387     -12.188      31.350
ssc_p:hsc_p            -0.1931      0.199     -0.971      0.333      -0.585       0.199
ssc_p:etest_p          -0.1751      0.167     -1.050      0.295      -0.504       0.154
hsc_p:etest_p          -0.0706      0.172     -0.409      0.683      -0.411       0.269
ssc_p:hsc_p:etest_p     0.0017      0.003      0.652      0.515      -0.003       0.007
==============================================================================
Omnibus:                       71.473   Durbin-Watson:                   0.115
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               11.538
Skew:                           0.016   Prob(JB):                      0.00312
Kurtosis:                       1.866   Cond. No.                     7.15e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.15e+07. This might indicate that there are
strong multicollinearity or other numerical problems.